body{
    margin:0;
    padding: 0%;
    box-sizing:border-box;

}
section
{
    display: flex;
    justify-content: center;
    align-items:center;
    

}
.contents
{
text-align: center;
font-size: -0.11px;
font-weight: 900;
margin-top:90px;
line-height: 100%;
font-family:url("./Poppins-Bold.ttf");
}
.txt{
    text-align:center;
    margin-top: 0%;
    color: black;
}
.imgd{
    display: flex;
    justify-content: center;
     align-items: center;


}
.circular{
    border-radius: 270px;
    height: 270px;
    width: 270px;
    margin-top: 21px;
}
.name{
    font-size: -0.11px;
font-weight: 900;
margin-top:90px;
line-height: 100%;
font-family:url("./Poppins-Bold.ttf");
text-align: center;
    margin-top: 20px;

}
.box{
    background-color: #6118BF;
    width: 30%;
    padding: 17px;
    border:none;
    color: #fff;
font-family:url("./Poppins-Bold.ttf");
border-radius: 5px;
margin-top:20px;
text-align: center;
align-items: center;
position: absolute;
 cursor: pointer; 
 margin-left: 35%;
}
.num{
 text-align: center;   
}
